@font-face {
   font-family: 'Aller_Lt';
   font-display: swap;
   src: url('file:///C:/Users/leand/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-06_231016/fonts/Aller_Lt/font.ttf');
}
